@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

:root {
  --pri-col: #e6c2ac;
  --sec-col: #4f0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
* .hit-shen:hover {
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
* .btt:hover {
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

body {
  background-color: var(--pri-col);
}

.container {
  margin: 2% 10% 5% 10%;
  height: 100vh;
}
.container .heading {
  font-size: 4vw;
  display: flex;
  justify-content: flex-start;
}
.container .heading span {
  color: white;
}
.container .content-and-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .content-and-image p {
  margin-top: 5%;
  font-size: 1.2vw;
}
.container .content-and-image .div-2 {
  width: 40vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .content-and-image .hero-img {
  transform: translateY(-10vh);
  width: 100%;
  display: inline-block;
}

.btn .hit-shen {
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 10px;
  width: 7rem;
  height: 2.5rem;
  background-color: #4f0000;
  color: white;
  font-weight: bold;
  margin-top: 10%;
}

.content-2 {
  display: flex;
  flex-direction: column;
}
.content-2 .heading-relase {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
}
.content-2 .heading-relase h1 {
  font-size: 7vw;
}
.content-2 .heading-relase h1 span {
  color: white;
}
.content-2 .video-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
.content-2 .video-content .something {
  display: flex;
  align-self: flex-start;
}

.container .content-2-heading h1 {
  font-size: 7vw;
}
.container .content-2-heading h1 span {
  color: white;
}
.container .content-2-img {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.container .main-content-1 {
  display: flex;
  flex-direction: column;
}
.container .main-content-1 p {
  font-size: 1vw;
}
.container .main-content-1 h1 {
  font-size: 6.2vw;
}
.container .main-content-1 h1 span {
  color: white;
}
.container .main-content-1 .content-3-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
}
.container .main-content-1 .content-3-content .video-element-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.container .main-content-1 .content-3-content .video-element-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.conatiner-final {
  height: 40vh;
}

.container .final-content h1 {
  font-size: 6.2vw;
}
.container .final-content h1 span {
  color: white;
}
.container .btt {
  border-radius: 50px;
  outline: none;
  border: none;
  padding: 10px;
  width: 7rem;
  height: 2.5rem;
  background-color: #4f0000;
  color: white;
  font-weight: bold;
  margin-top: 2%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.38);
  width: 100vw;
  height: 400px;
  overflow: hidden;
}
footer h1 {
  font-size: 2.5vw;
  text-align: center;
  margin-bottom: 2%;
}
footer p {
  font-size: 1vw;
  text-align: center;
  margin-bottom: 2%;
}
footer .credits {
  display: flex;
  justify-content: center;
}
footer .credits .trishan {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
footer .credits .trishan .trishan-a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .credits .trishan .trishan-a a {
  text-decoration: none;
  color: black;
}
footer .credits .wasath {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
footer .credits .wasath .wasath-a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
footer .credits .wasath .wasath-a a {
  text-decoration: none;
  color: black;
}
footer .credits .line {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 600px) {
  .container {
    margin: 2% 10% 5% 10%;
    height: 100vh;
    overflow: hidden;
  }
  .container .heading {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .container .heading span {
    color: white;
  }
  .container .content-and-image {
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start !important;
    align-items: center;
  }
  .container .content-and-image p {
    width: 75%;
    height: 10%;
    margin-top: 5%;
    font-size: 2vw;
    text-align: center;
  }
  .container .content-and-image .btn {
    margin-top: 18rem;
    margin-left: 2.6rem;
  }
  .container .content-and-image .btn .hit-shen {
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 10px;
    width: 5rem;
    height: 2.5rem;
    background-color: #4f0000;
    color: white;
    font-weight: bold;
    margin-top: 10%;
  }
  .container .content-and-image .hero-img {
    display: none;
  }
  #second-page .content-2 .heading-relase {
    font-size: 4vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -4rem;
  }
  #second-page .content-2 .heading-relase span {
    color: white;
  }
  #second-page .content-2 img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */