@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
    scroll-behavior: smooth;
}

:root {
    --pri-col: #e6c2ac;
    --sec-col: #4f0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    .hit-shen:hover{
        box-shadow: 2px 6px 20px rgba(0,0,0,0.3);
        cursor: pointer;
    
    }
    .btt:hover{
        box-shadow: 2px 6px 20px rgba(0,0,0,0.3);
        cursor: pointer;
    
    }
    //   overflow: hidden;
}

body {
    background-color: var(--pri-col);
    
}


// .wrapper-main{
//     margin-top: 30px;
//     width: 100vw;
//     height: 100vh;
//     margin-left: 114px;
//     // display: flexbox;
//     h1{

//         font-size: 80px;
//         display: inline;

//         span{
//             color: white;
//         }
//     }

//     .hero-content{
//         width: 35%;
//         // display: inline-b;
//         p{
//             // width: 30%;
//             margin-top: 25px;
//         }

//         button{
//             margin-top: 45px;
//             padding: 10px;
//             width: 7rem;
//             height: 2.5rem;
//             border-radius: 50px;
//             outline: none;
//             border: none;
//             background-color: var(--sec-col);
//             color: white;
//             font-weight: bold;
//         }
//     }

//     img{
//         width: 25%;
//         position: absolute;
//         margin-top: -300px;
//         margin-left: 700px;
//         min-width: 25%;
//     }

//     button:hover{
//         background-color: #420303;
//         cursor: pointer;
//         box-shadow: 5px 10px rgba(0,0,0,0.08);
//     }
// }

// .wrapper-second{
//     margin-top: 30px;
//     width: 100vw;
//     height: 100vh;
//     margin-left: 114px;
//     .sec-page{
//         h1{
//             font-size: 80px;
//             display:inline;
//             span{
//                 color: white;
//             }

//         }
//         .video-emb{
//             img{
//                 width: 870px;
//                 margin-top: 25px;
//                 margin-left: 100px;
//             }
//         }
//         p{
//             margin-left: 100px;
//         }

//     }

// }

// .wrapper-three{
//     margin-top: 120px;
//     width: 100vw;
//     height: 100vh;
//     margin-left: 114px;
//     .three-page{
//         h1{
//             font-size: 80px;
//             display:inline;
//             span{
//                 color: white;
//             }
//         }
//         img{
//             margin-top: 50px;
//         }

//     }
// }

// .wrapper-four{
//     margin-top: 30px;
//     width: 100vw;
//     height: 100vh;
//     margin-left: 114px;
//     .four-page{
//         h1{
//             font-size: 80px;
//             display: inline;
//             span{
//                 color: white;
//             }
//         }
//         .surprise{
//             // display: flex;
//             // .vid-one{
//             //     width: 300px;
//             //     margin-top: 25px;
//             //     border: 2px solid yellow;
//             //     // flex: 1;

//             // }
//             // display: flex;
//             // .vid-two{
//             //     width: 300px;
//             //     margin-top: 25px;
//             //     border: 2px solid yellow;

//             // }
//               .vid-one{
//                 width: 300px;
//                 margin-top: 25px;

//             }
//              .vid-two{
//                 width: 300px;
//                 margin-top: 25px;

//             }
//             display: grid;
//             grid-template-columns: 1fr 1fr;
//             grid-gap: 20px;
//         }

//     }
// }

// .wrapper-five{
//     .last-page{
//         margin-top: 90px;
//         width: 100vw;
//         height: 55vh;
//         // margin-left: 114px;
//         h1{
//             font-size: 80px;
//             display:inline;
//             span{
//                 color: white;
//             }
//         }

//         button{
//             margin-top: 45px;
//             padding: 10px;
//             width: 7rem;
//             height: 2.5rem;
//             border-radius: 50px;
//             outline: none;
//             border: none;
//             background-color: var(--sec-col);
//             color: white;
//             font-weight: bold;
//         }

//     }
// }

.container {
    margin: 2% 10% 5% 10%;
    height: 100vh;

    .heading {
        font-size: 4vw;
        display: flex;
        justify-content: flex-start;

        span {
            color: white;
        }
    }

    .content-and-image {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // align-items: center;

        p {
            // width: 50%;
            // height: 10%;
            margin-top: 5%;
            font-size: 1.2vw;
            // border: 1px solid white;
        }

        .div-2 {
            width: 40vw;
            height: 30vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .hero-img {
            transform: translateY(-10vh);
            width: 100%;
            display: inline-block;
        }
    }
}

.btn {
    .hit-shen {
        border-radius: 50px;
        outline: none;
        border: none;
        padding: 10px;
        width: 7rem;
        height: 2.5rem;
        background-color: #4f0000;
        color: white;
        font-weight: bold;
        margin-top: 10%;
    }
}

.content-2 {
    display: flex;
    flex-direction: column;

    .heading-relase {
        display: flex;
        justify-content: flex-start;
        width: 100vw;

        h1 {
            font-size: 7vw;

            span {
                color: white;
            }
        }
    }

    .video-content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 80px;

        .something {
            display: flex;
            align-self: flex-start;
        }
    }
}

.container {
    .content-2-heading {
        h1 {
            font-size: 7vw;

            span {
                color: white;
            }
        }
    }

    .content-2-img {
        display: flex;
        justify-content: center;
        margin-top: 5%;
    }
}

.container {
    .main-content-1 {
        display: flex;
        flex-direction: column;

        p {
            font-size: 1vw;
        }

        h1 {
            font-size: 6.2vw;

            span {
                color: white;
            }
        }

        .content-3-content {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 5%;

            .video-element-left {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }

            .video-element-right {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
            }
        }
    }
}

.conatiner-final {
    height: 40vh;
}

.container {
    .final-content {
        h1 {
            font-size: 6.2vw;

            span {
                color: white;
            }
        }
    }

    .btt {
        border-radius: 50px;
        outline: none;
        border: none;
        padding: 10px;
        width: 7rem;
        height: 2.5rem;
        background-color: #4f0000;
        color: white;
        font-weight: bold;
        margin-top: 2%;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.38);
    width: 100vw;
    height: 400px;
    overflow: hidden;

    h1 {
        font-size: 2.5vw;
        text-align: center;
        margin-bottom: 2%;

        // border: 1px solid white;
    }

    p {
        font-size: 1vw;
        text-align: center;
        margin-bottom: 2%;
    }

    .credits {
        display: flex;
        justify-content: center;

        .trishan {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 30px;

            .trishan-a {
                display: flex;
                flex-direction: column;
                text-align: center;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .wasath {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 30px;

            .wasath-a {
                display: flex;
                flex-direction: column;
                text-align: center;

                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }

        .line {
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}




// Responsivenss

@media (max-width: 600px) {
    .container {
        margin: 2% 10% 5% 10%;
        height: 100vh;
        overflow: hidden;

        .heading {
            font-size: 4vw;
            display: flex;
            justify-content: center;
            text-align: center;

            span {
                color: white;
            }
        }

        .content-and-image {
            display: flex;
            flex-direction: column !important;
            justify-content: flex-start !important;
            // border: 1px solid white;
            align-items: center;

            p {
                width: 75%;
                height: 10%;
                margin-top: 5%;
                font-size: 2vw;
                text-align: center;
            }

            .btn{
                margin-top: 18rem;
                margin-left: 2.6rem;
                .hit-shen {
                    border-radius: 50px;
                    outline: none;
                    border: none;
                    padding: 10px;
                    width: 5rem;
                    height: 2.5rem;
                    background-color: #4f0000;
                    color: white;
                    font-weight: bold;
                    margin-top: 10%;
                }

            }

            .hero-img {
                display: none;
            }
        }
    }

  #second-page{
    .content-2{
       
        .heading-relase{
            font-size: 4vw;
            display: flex;
            justify-content: center;
            text-align: center;
            margin-left: -4rem;

            span {
                color: white;
            }
        }

        img{
            width: 100%;
        }
    }
  }
}